body,html{margin 0, padding 0}
body{
	background-color: #e7e7e7;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center;
	font-family: open sans semi-bold;
}
/*login-container start*/
.ua-container{ width: 360px; margin: 0 auto;}
.image{height: 50px;}
.logoimg{text-align: center; margin-top: 30px;}
.heading{margin-top: 30px; font-weight: bold; font-size: 1.2em;}
.socialMedia{margin-top: 70px; font-weight: bold; font-size: 1.2em;}
.socialMediaicons{margin-top: 20px; margin-left: 75px; text-align: center;}
.social	{float: left; background: #b40707; color: #fff; width: 13%; text-align: center; border-radius: 50px; height: 38px; padding-top: 8px; margin-left: 25px;}
.or{margin-top: 71px; margin-left: 171px;}
button {color: #fff; font-family: open sans semi-bold; background-color: #b40707; margin: 40px auto; width:250px; height: 40px; line-height: 2.2em; border-radius: 7px; text-align: center; font-size: 1.2em; margin-left: 65px; border: none; cursor: pointer;}

/* email start*/
.username{position: relative; margin-top: 30px;}
.username label{color: rgb(188,188,188);position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.userNameLbl{top: -25px !important; font-size: 0.80em !important; color: #000 !important;}
input:focus{border-bottom: 2px solid #000 !important; font-size: 0.80em !important;}
.username input[type=text]{border: 0;outline: 0;background: transparent; border-bottom: 1px solid rgb(188,188,188); color: #000;}
.fa{color: rgb(188,188,188); position: relative; top: 0px; transition: 0.5s; pointer-events: none; }
.emailIcon{top: -25px !important; font-size: 0.80em !important; color: #000 !important; transition: 0.5s;}
.bottomline{width: 100%; line-height: 1.5; color: rgb(188,188,188); }
/* email end*/

/* password start*/
.password{position: relative; margin-top: 30px;}
.password label{color: rgb(188,188,188);position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.passwordLbl{top: -25px !important; font-size: 0.80em !important; color: #000 !important;}
.password input[type=password]:focus:not([readonly])+label{ color: #b40707; }
.password input[type=password]{border: 0;outline: 0;background: transparent; border-bottom: 1px solid rgb(188,188,188); color: #000;}
.fa{color: rgb(188,188,188); position: relative; top: 0px; transition: 0.5s; pointer-events: none; }
.passwordIcon{top: -25px !important; font-size: 0.80em !important; color: #000 !important; transition: 0.5s; }
.forgotpwd{color: #b40707; margin-left: 245px; cursor: pointer;}
/*password end*/

/*footer start*/
.footer{margin-left: 93px;}
.signup{color: #b40707; cursor: pointer;}
/*foooter end*/

/*reset password start*/
.mail {position: relative; margin-top: 40px;}
.mailLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.mail  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.mail input[type=text]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.nxtbtn{ text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #b40707;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; border: none; cursor: pointer;}
.logo{height: 50px;}
.b-Line{width: 100%;}
/*rest password end*/

/* register page start*/
.cPasswordLbl{top: -25px !important; font-size: 0.80em !important; color: #000 !important;}
.confirmpassword{position: relative; margin-top: 30px;}
.confirmpassword label{color: rgb(188,188,188);position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.confirmpassword input[type=password]{border: 0; outline: 0; background: transparent; border-bottom: 1px solid rgb(188,188,188); color: #000;}
.emailid{position: relative; margin-top: 30px;}
.emailid label{color: rgb(188,188,188);position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.emailIdLbl{top: -25px !important; font-size: 0.80em !important; color: #000 !important;}
.emailid input[type=text]{border: 0;outline: 0;background: transparent; border-bottom: 1px solid rgb(188,188,188); color: #000;}
.contactno{position: relative; margin-top: 30px;}
.contactno label{color: rgb(188,188,188);position: absolute; top: 0px;transition: 0.5s; pointer-events: none;}
.contNoLbl{top: -25px !important; font-size: 0.80em !important; color: #000 !important;}
.contactno input[type=text]:focus:not([readonly])+label{ color: #b40707; }
.contactno input[type=text]{border: 0;outline: 0;background: transparent; border-bottom: 1px solid rgb(188,188,188); color: #000;}
.register {color: #fff; font-family: open sans semi-bold; background-color: #b40707; margin: 40px auto; width:250px; height: 40px; line-height: 2.2em; border-radius: 7px; text-align: center; font-size: 18px;}

@media only screen and (max-width: 320px) {

.ua-container{    width: 300px;   }	
}

/*reset password start*/
.mail {position: relative; margin-top: 40px;}
.mailLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.mail  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.mail input[type=text]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.nxtbtn{ text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #b40707;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; border: none; cursor: pointer;}
.logo{width: 100px; height: 50px;}
.b-Line{width: 100%;}
/*rest password end*/

/* home page start */
.header{background: #fff; height: 70px; max-width: 100%;}
.leftside-container{float: left; max-width: 60%;}
.sideimg{padding: 10px; float: left;}
.logoimage{ height: 50px; margin-left: 40px; }
.home{font-size: 1em; color: #bb2121; float: left; padding: 23px;}
.contact{font-size: 1em; float: left; padding: 23px;}
.rightside-container{max-width: 40%; float: right;}
.help{padding: 23px;  float: right; }
.joinbox{float: right; padding: 15px;}
.join{height: 40px; border: 1px solid;  margin-right: 130px; background: #bb2121; width: 100px; text-align: center; padding: 8px; color: #fff;}
.banner{position: relative;}
.bannerimage{width: 100%; height: 100vh;}
.bannertxt{font-size: 5em; color: #fff; position: absolute; top: 200px; left: 15%;}
.bannerbottomtxt{color: #fff; position: absolute; top: 515px; left: 28%; font-size: 2em;}
/* home page end */

/* services page start*/
.uaimage{margin-top: 15px; margin-left: 15px;}
.text{text-align: center; margin-top: 15px; font-size: 1.2em;}
.conimg{height: 40px; float: right; margin-right: 15px;}
.list{width: 250px; height: 30px; background-color: #e7e7e7;}
.dropdown{text-align: center; margin-top: 15px;}
.from{width: 134px; height: 50px; border: 1px solid;}
.to{width: 134px; height: 50px; border: 1px solid;}
/* service page End*/

